* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100rem;
  /* height: 90rem; */
  background-color: #faebd7;
  margin: 0 auto;
  padding: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4rem;
  border-radius: 1.2rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.animal-name {
  font-size: 3.4rem;
  color: rgb(19, 19, 19);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.8rem 0;
}

h3 {
  font-size: 1.4rem;
}

.dogs-info {
  padding: 4rem;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  border: 0.2rem solid blue;
  margin-bottom: 2rem;
}

.info {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2rem;
}

.dog-details {
  /* align-items: center; */
  margin-top: 4rem;
}

.dogs-bio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center;
  justify-content: center; */
}

.animal-details {
  width: 40rem;
}

.h2 {
  font-size: 2.4rem;
  text-align: center;
  margin: 2rem 0;
}

li {
  font-size: 1.6rem;
  list-style: none;
  margin: 1.2rem 0;
  font-weight: 600;
}

.dog-bull {
}

.sales-info-dog {
  width: 40rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sales-info-dog img {
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.buy {
  padding: 2rem 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #008000;
  border-radius: 0.8rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 600ms;
}

.buy:hover {
  background-color: #faebd7;
  color: #008000;
  border: 0.2rem solid #008000;
}
.footer {
  font-size: 1.4rem;
  padding: 2rem;
}

.footer a {
  text-decoration: none;
}
